$primary-color: #007bff;
$secondary-color: #d7e9fc;
$tertiary-color: #529ded;

$black: #000000;
$gray: #5d5d5d;
$light-gray: #868686;
$white: #ffffff;

$border-inputs: 2px;
$border-buttons: 1px;
// $border-radius: 10px;
$border-radius: 0.25em;

$mobile-width: 768px;
$desktop-width: 1440px;
