nav {
	min-height: 4rem;
	position: relative;
	background: #ffffff;
	box-shadow: 0px 3px 50px #1877ff1c;
	opacity: 1;
	padding: 2px 2rem;
	color: #707070;
	font-size: 1em;

	li {
		list-style: none;
		padding: 0 1rem;
		border-left: 0.5px solid #adadad;

		i {
			position: relative;
			margin-inline-end: 15px;
		}
		img {
			opacity: 0.7;
		}
	}
}

.dropdown-toggle {
	color: inherit;
	margin: 0 1rem;
}

.dropdown-toggle::after {
	display: inline-block;
	border-top: 0.6em solid;
	border-right: 0.6em solid transparent;
	border-left: 0.6em solid transparent;
	border-bottom: 0;
	border-radius: 50%;
}

#nav-bar {
	// position: fixed;
	width: 100%;
}

#side-bar {
	background-color: $primary-color;

	.nav-item-text,
	.dropdown-toggle {
		display: inline-block;
		transition: display 0.7s;
	}

	.nav-item {
		inline-size: 300px;
		transition: width 0.3s ease-in-out;
	}
	.nav-link {
		color: $white !important;
		@include flex(row, nowrap, flex-start, center);
		img {
			margin-inline-end: 40px;
		}
		block-size: 3rem;
		transition: border-radius 0.4s ease-in-out;
	}

	.router-link-exact-active.router-link-active {
		.nav-link {
			background-color: #cee6ff;
			color: $primary-color !important;
		}

		.nav-item[aria-expanded="true"] {
			.nav-link {
				background-color: $primary-color;
				color: $white !important;
			}
		}
	}

	.badge {
		position: relative;
		background-color: red;
		top: unset;
		left: unset;
		right: unset;
		margin-inline-start: 15px;
	}
}

#side-bar.hide {
	// padding: 0.5rem;
	.nav-item-text,
	.dropdown-toggle {
		display: none;
		color: white;
	}

	.nav-item {
		inline-size: 70px;
	}

	.nav-link {
		position: relative;
		border-radius: 50%;
		img {
			margin-inline-end: 0;
		}
	}

	.badge {
		position: absolute;
		top: -0.5px;
		right: -0.5px;
	}
}
