table {
  border-collapse: collapse;
  border-spacing: 10px;
  width: 100%;

  tbody,
  p {
    font-size: 0.85em;
  }
}

th,
td {
  text-align: left;
  padding: 8px;
  border-bottom: 12px solid #fcfcfc;
}

th {
  background-color: #eeeeee;
}

tr {
  max-height: 70px;
  background-color: #ffffff;
}

tbody {
  tr:hover {
    box-shadow: 0px 3px 50px #1877ff1c;
  }
}
